
/* use responsive layout */

#game-container {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh); */
}

.header {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}



#game-window{
  background-color: #4babe8;
  /* background-image: url('../public/7.jpg'); */
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 500px;
  min-height: 100px;

  position: relative;
  overflow: hidden;
  /* this is important to set the fish */


  border: 2px solid black;
  height: 800px;
  /* height: calc(100vh - 100px - 50px - 40px);  */
  /* i hope the game window cover all space except header and footer */
  border-radius: 10px;

  box-sizing: border-box;
  /* min-width: 380px;
  max-width: 800px; */
  margin: 5px max(5%, 2px);
  padding: 0;
  /* width: 100%; */

}


/* Styles for the content inside the game window */
.game-content {
  display: flex;
}

/* Media query for small screens */
@media (max-width: 600px) {
  /* Hide the border and reduce the height of the game window */
  .game-window {
    border: none;
    height: 80vh;
    max-height: none;
  }
  
  /* Show the content inside the game window */
  .game-content {
    display: block;
  }
}

/* Media query for medium to large screens */
@media (min-width: 601px) {
  /* Show the content inside the game window */
  .game-content {
    display: block;
  }
}



.score {
  color: #000000;
  padding-left: 15px;
}

.toggle-btn {
  position: flex;
  padding: 0 8PX;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  margin: auto;
  border-radius: 10px;
  line-height: 45px;
  /* width: 80px; */
}

.msg {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  margin: auto;
  line-height: 20px;
}